name: Build and Deploy

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20.x'
        cache: 'npm'

    - name: Install dependencies
      run: npm ci

    - name: Build and Package
      run: npm run package

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: hex-mastery-build
        path: hex-mastery-v*.zip
